<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_Dje-cy</key>
	<array>
		<string>Dje-cy</string>
		<string>Shha-cy</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
	</array>
	<key>@MMK_L_Ge-cy</key>
	<array>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>Ghestroke-cy</string>
	</array>
	<key>@MMK_L_O-cy</key>
	<array>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>Iu-cy</string>
		<string>Fita-cy</string>
		<string>Schwa-cy</string>
		<string>Obarred-cy</string>
	</array>
	<key>@MMK_L_Softsign-cy</key>
	<array>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Yat-cy</string>
	</array>
	<key>@MMK_L_Tse-cy</key>
	<array>
		<string>Tse-cy</string>
		<string>Shcha-cy</string>
		<string>Zhedescender-cy</string>
		<string>Kadescender-cy</string>
		<string>Endescender-cy</string>
		<string>Hadesender-cy</string>
		<string>Chedesender-cy</string>
	</array>
	<key>@MMK_L_U-cy</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Umacron-cy</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>@MMK_L_Ve-cy</key>
	<array>
		<string>Ve-cy</string>
		<string>Ze-cy</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Zhe-cy</key>
	<array>
		<string>Zhe-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b'</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_ge-cy</key>
	<array>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>ghestroke-cy</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_ie-cy</key>
	<array>
		<string>ie-cy</string>
		<string>io-cy</string>
		<string>o-cy</string>
		<string>es-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
		<string>fita-cy</string>
		<string>schwa-cy</string>
		<string>obarred-cy</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>l</string>
		<string>bar</string>
	</array>
	<key>@MMK_L_softsign-cy</key>
	<array>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>yat-cy</string>
	</array>
	<key>@MMK_L_tse-cy</key>
	<array>
		<string>tse-cy</string>
		<string>shcha-cy</string>
		<string>zhedescender-cy</string>
		<string>kadescender-cy</string>
		<string>endescender-cy</string>
		<string>hadesender-cy</string>
		<string>chedesender-cy</string>
	</array>
	<key>@MMK_L_tshe-cy</key>
	<array>
		<string>tshe-cy</string>
		<string>shha-cy</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_u-cy</key>
	<array>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>umacron-cy</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_zhe-cy</key>
	<array>
		<string>zhe-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_Che-cy</key>
	<array>
		<string>Che-cy</string>
		<string>Chedesender-cy</string>
	</array>
	<key>@MMK_R_El-cy</key>
	<array>
		<string>El-cy</string>
		<string>Lje-cy</string>
	</array>
	<key>@MMK_R_O-cy</key>
	<array>
		<string>O-cy</string>
		<string>Es-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>Fita-cy</string>
		<string>Schwa-cy</string>
		<string>Obarred-cy</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_Te-cy</key>
	<array>
		<string>Te-cy</string>
		<string>Hardsign-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Zhe-cy</key>
	<array>
		<string>Zhe-cy</string>
		<string>Zhedescender-cy</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>@MMK_R_che-cy</key>
	<array>
		<string>che-cy</string>
		<string>chedesender-cy</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_d</key>
	<array>
		<string>d'</string>
		<string>q</string>
	</array>
	<key>@MMK_R_dje-cy</key>
	<array>
		<string>dje-cy</string>
		<string>tshe-cy</string>
		<string>yat-cy</string>
	</array>
	<key>@MMK_R_el-cy</key>
	<array>
		<string>el-cy</string>
		<string>lje-cy</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>Icircumflex'</string>
		<string>Idieresis</string>
		<string>icircumflex</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_ie-cy</key>
	<array>
		<string>ie-cy</string>
		<string>io-cy</string>
		<string>o-cy</string>
		<string>es-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>fita-cy</string>
		<string>schwa-cy</string>
		<string>obarred-cy</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>I'</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>l</string>
		<string>bar</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
	</array>
	<key>@MMK_R_te-cy</key>
	<array>
		<string>te-cy</string>
		<string>hardsign-cy</string>
	</array>
	<key>@MMK_R_u-cy</key>
	<array>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>umacron-cy</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v'</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_ve-cy</key>
	<array>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>softsign-cy</string>
		<string>yeru-cy</string>
		<string>nje-cy</string>
		<string>iu-cy</string>
		<string>kadescender-cy</string>
		<string>endescender-cy</string>
		<string>shha-cy</string>
	</array>
	<key>@MMK_R_zhe-cy</key>
	<array>
		<string>zhe-cy</string>
		<string>zhedescender-cy</string>
	</array>
</dict>
</plist>
