<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Eth</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>T</string>
		<string>Thorn</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>dotlessi</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>eth</string>
		<string>f</string>
		<string>g</string>
		<string>germandbls</string>
		<string>h</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scaron</string>
		<string>t</string>
		<string>thorn</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>fi</string>
		<string>fl</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>ShortI-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Ia-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dze-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Tshe-cy</string>
		<string>Iu-cy</string>
		<string>Dje-cy</string>
		<string>Yat-cy</string>
		<string>Fita-cy</string>
		<string>Izhitsa-cy</string>
		<string>Ghestroke-cy</string>
		<string>Zhedescender-cy</string>
		<string>Kadescender-cy</string>
		<string>Endescender-cy</string>
		<string>Ustrait-cy</string>
		<string>Ustraitstroke-cy</string>
		<string>Hadesender-cy</string>
		<string>Chedesender-cy</string>
		<string>Shha-cy</string>
		<string>Palochka-cy</string>
		<string>Schwa-cy</string>
		<string>Imacron-cy</string>
		<string>Obarred-cy</string>
		<string>Umacron-cy</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>dje-cy</string>
		<string>dze-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>tshe-cy</string>
		<string>yat-cy</string>
		<string>fita-cy</string>
		<string>izhitsa-cy</string>
		<string>ghestroke-cy</string>
		<string>zhedescender-cy</string>
		<string>kadescender-cy</string>
		<string>endescender-cy</string>
		<string>ustrait-cy</string>
		<string>ustraitstroke-cy</string>
		<string>hadesender-cy</string>
		<string>chedesender-cy</string>
		<string>shha-cy</string>
		<string>palochka-cy</string>
		<string>schwa-cy</string>
		<string>imacron-cy</string>
		<string>obarred-cy</string>
		<string>umacron-cy</string>
		<string>Ia-cy.alt1</string>
		<string>Ia-cy.alt2</string>
		<string>Ka-cy.alt1</string>
		<string>Zhe-cy.alt1</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>Euro</string>
		<string>cent</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>asciitilde</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>minus</string>
		<string>percent</string>
		<string>plus</string>
		<string>ampersand</string>
		<string>at</string>
		<string>bar</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>.notdef</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<real>400</real>
	<key>com.schriftgestaltung.widthValue</key>
	<real>5</real>
</dict>
</plist>
